</div><!-- .main.container -->
<footer class="site-footer">
  <div class="container d-flex justify-content-center text-center">
    {% if site.twitter_username != '' %}
    <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
    {% endif %}
    {% if site.github_username != '' %}
    <a href="https://github.com/{{ site.github_username }}">| Github |</a>
    {% endif %}
    {% if site.medium_username != '' %}
    <a href=" https://www.linkedin.com/in/{{ site.linkedin_username }}">Linkedin</a>
    {% endif %}
  </div>
</footer>

<!-- JavaScript -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/js/wow.min.js"></script>
<script src="{{ site.url }}/js/app.js"></script>


<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', ' {{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');

</script>

</body>

</html>