{% include header.html %}

<main id="articles">
  <div class="wrap">
    <div class="row">
      <div class="col-md-12">
        <!-- <div class="col-md-6"> -->
        <p class="fs-1 page-title">Articles</p>
        {% for item in site.articles_item %}
        <div class="container">
          <small class="article-date">{{ item.date }}</small>
          <a class="article-title-link" href="{{ item.url }}">
            <p class="fs-1">{{ item.title }}</p>
          </a>
          {% for tag in item.tags %}
          <small class="tag">{{ tag }}</small>
          {%endfor %}
        </div>
        {% endfor %}
        <!-- </div> -->
      </div>
    </div>
  </div>
</main>

{% include footer.html %}